<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  </head>
  <body>
    <header>
      <div class="inner">
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
        <h2>{{ site.long_title}}</h2>
        <a href="https://github.com/mabrizio" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>
        <aside id="sidebar">
            <div class="about">
                <img title="{{ site.title }}" src="{{ "/images/mauricio.jpg" | prepend: site.url }}" alt="{{ site.title }}"> <br />
                <p>I'm a Computer Engineer, specialized in infrastructure automation. I live in <a href="http://essentialcostarica.com/">Costa Rica</a> and I have
                   a full time job at <a href="{{ site.job.url }}">{{ site.job.employer_name }}</a> as a {{ site.job.position }}.</p>
            </div>
            <p>
                [ About Me |
                  <a href="{{ site.github }}">GitHub</a> |
                  <a href="{{ site.linked_in }}">Linked In</a> ]
            </p>
            <p><a href="https://www.linkedin.com/in/mauricioaraya"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Mauricio Araya V.'s profile on LinkedIn"></a></p>
            <hr />
            <p>Please be kind: if you're using any content from my website, please make a reference to it within your publication.<p>
            <p>Hosted at <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p> <hr />
            <p>CopyLeft <span class="copy-left">&copy;</span> {{ site.time | date: '%Y' }}</p>
        </aside>
      </div>
    </div>
    <script type="text/javascript">
     var bcf_settings = { buttonText:'Contact Me', buttonTop:'40%', language:'en_US' };
    (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s); js.id = id; js.src = "http://bettercontactform.com/contact/media/9/5/95e05bd96473247a0e4deb984bf2e29c184af39f.js"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "bcf-render"));</script> <a id="bcf_trigger" href="http://bettercontactform.com" rel="bcf_trigger">Contact Form</a>
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-60991413-1', 'auto');ga('send', 'pageview');</script>
  </body>
</html>
